@use '../helpers.scss' as *;

.loader {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100dvh;
  background-color: white;
  z-index: 1000;
  @include flex-center(true);
  flex-direction: column;
  gap: 6rem;
  animation: 3s stop-loader forwards;
  pointer-events: none;

  &__logo {
    width: 18rem;
    animation: 800ms bottom-fade;
  }

  &__spinner {
    max-width: 35rem;
    width: 60vw;
    height: 0.6rem;
    border: solid 4px color(primary);
    border-radius: 100vh;
    overflow: hidden;
    position: relative;
    box-sizing: initial;

    span {
      width: 35%;
      height: 100%;
      background: linear-gradient(to right, color(secondary), color(primary));
      display: block;
      border-radius: 100vh;
      position: absolute;
      top: 0;
      left: -30%;
      animation: 700ms infinite alternate linear spinner;
    }
  }

  &__link {
    position: absolute;
  }
}
