//Imports
@use './classes' as *;
@use './colors' as *;
@use './fonts' as *;

//Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font(main);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: black;
  }
}

img {
  @extend %no-select;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

section {
  position: relative;
  padding: 6rem 0 7rem;
}

.content {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
}

.title {
  font-size: 2.8rem;
  width: 100%;
  margin-bottom: 1rem;
}

.icon {
  pointer-events: none;
}
